<main>

    <section class="card col-md-5 col-sm-12">
      <h5>Articles</h5>
      <article>
        <p><!--ADD Section Content Here--></p>
      </article>
    </section>

    <section class="card col-md-5 col-sm-12">
      <h3>Comments</h3>
      <article>
        <p><!--ADD Section Content Here--></p>
      </article>
    </section>

</main>