<body>
    <main>

        <section class="card col-md-5 col-sm-12">
          <h5>Article 1</h5>
          <article>
            <p><!--ADD Section Content Here--></p>
          </article>
        </section>

        <section class="card col-md-5 col-sm-12">
		      <h3>Article 2</h3>
          <article>
            <p><!--ADD Section Content Here--></p>
          </article>
        </section>

    </main>