<body>
    <header>
		<h1 id="top">The Shire Crier</h1>
      <p><!--ADD Header Items Here--></p>
      <nav class="navigation">
        <ul>
          <li><a href="#mc00">Section 00</a></li>
          <li><a href="#mc01">Section 01</a></li>
          <li><a href="#mc02">Section 02</a></li>
          <li><a href="#mc03">Section 03</a></li>
          <li><a href="#mc04">Section 04</a></li>
        </ul>
      </nav>
    </header>

    <figure id="top-figure">
      <figcaption>About Me</figcaption>
    </figure>
    
    <main>

        <section class="card col-md-5 col-sm-12">
          <h5>Article 1</h5>
          <article>
            <p><!--ADD Section Content Here--></p>
          </article>
        </section>

        <section class="card col-md-5 col-sm-12">
		      <h3>Article 2</h3>
          <article>
            <p><!--ADD Section Content Here--></p>
          </article>
        </section>

    </main>