/* This file will contain the style */
* {
	font-family: 'La Belle Aurore', cursive;
}

html{
	background-image: url('../images/html_bg.jpg');
	height: 100%;
}

body { 
	/*Think of this as the page wrapper - I guess this is an older way of thinking!*/
	background-image: url('../images/papyrus.jpg');
	color: black;
	margin: 0 25px;
	min-height: 100%;
}

h1{
	font-size: 300%;
	font-weight: bold;
	display: block;
}

h2{
	font-size: 262%;
	font-weight: bold;
}

h3 {
	font-size: 225%;
	font-weight: bold;
}

h4{
	font-size: 187%;
	font-weight: bold;
}

h5 {
	font-size: 168%;
	font-weight: bold;
}

h6 {
	font-size: 150%;
	font-weight: bold;
}

p {
	font-size: 125%;
	font-weight: bold;
}

/* The code below outlines the <header> tag and its elements */
header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 5px;
	min-height: 100px;
}

#top{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

nav{
	display: flex;
	align-self: flex-end;
	justify-content: center;
	font-size: 125%;
}

.navigation li{
	display: inline;
	margin: 0px 5px ;
	margin-right: 10px;
}
/* END of <header> tag style */


/* The code below outlines the main <figure> tag and its elements */
figure{
	height: 800px;
  margin-bottom: 25px;
  background-image: url("../images/figure.jpg");
  background-size: contain;
	background-repeat: no-repeat;
  background-position: center;
}

figcaption{
	display: none;
}
/* END of <figure> tag style */


/* The following code outlines the <main> tag and its elements */
main{
	display: flex;
	min-height: max-content;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 10px;
	width: 100%;
}

.card{
	border: darkred 3px solid;
	background-image: url('../images/papyrus.jpg');
	margin: 10px;
	padding: 10px;
}
/* END of <main> tag style */

/* The following code outlines the <footer> tag and its elements*/
footer{
	text-align: center;
	height: 100px;
	height: 100px;
}
/* END of <footer> tag style */

/*The Following code makes the site viewable when clicked to half 1080p*/
@media screen and (max-width: 992px) {
	figure{
		height: 400px;
	}
	#top{
		width: 100%;
	}
	nav{
		width: 100%;
	}
}

/*The code below tailors to landscape cell phone - 
specifically the Note 20, bc that is what I own, and apple sucks one*/
@media screen and (max-width: 915px) {
	figure{
		height: 200px;
	}
	main{
		flex-wrap: wrap;
	}
	#main-content{
		order: 1;
		width: 75%;
	}
	#aside-01{
		order: 1;
		width: 25%;
	}
	#aside-02 {
		order: 3;
		width: 100%;
	}
}

/*The following code styles a portrait cell phone*/
@media screen and (max-width: 669px) {
	figure{
		height: 200px;
	}
	.navigation li{
		display: block;
		margin: 10px 0;
	}
	main{
		flex-direction: column;
		align-items: center;
	}
	#main-content{
		order: 1;
		width: 100%;
	}
	#aside-01{
		order: 2;
		width: 100%;
	}
	#aside-02 {
		order: 2;
		width: 100%;
	}
}